<div class="container mt-4">
  <h4 class="fw-bold">COLORIN</h4>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[0]"
            [ngStyle]="{ 'border-color': cells[0] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[1]"
            [ngStyle]="{ 'border-color': cells[1] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[2]"
            [ngStyle]="{ 'border-color': cells[2] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[3]"
            [ngStyle]="{ 'border-color': cells[3] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[4]"
            [ngStyle]="{ 'border-color': cells[4] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[5]"
            [ngStyle]="{ 'border-color': cells[5] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[6]"
            [ngStyle]="{ 'border-color': cells[6] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[7]"
            [ngStyle]="{ 'border-color': cells[7] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[8]"
            [ngStyle]="{ 'border-color': cells[8] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[9]"
            [ngStyle]="{ 'border-color': cells[9] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[10]"
            [ngStyle]="{ 'border-color': cells[10] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[11]"
            [ngStyle]="{ 'border-color': cells[11] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
      </tr>
      <tr>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[12]"
            [ngStyle]="{ 'border-color': cells[12] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[13]"
            [ngStyle]="{ 'border-color': cells[13] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[14]"
            [ngStyle]="{ 'border-color': cells[14] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cells[15]"
            [ngStyle]="{ 'border-color': cells[15] != '' ? 'red' : 'gray' }"
            (change)="onInputChange()"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <p>Cantidad azules: {{ cantidadAzules }}</p>
  <p>Cantidad rojas: {{ cantidadRojas }}</p>
  <p>Cantidad verdes: {{ cantidadVerdes }}</p>
  <button class="btn btn-primary" (click)="Save()">Guardar</button>
</div>
